# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.pyc

# ==========================================
# VIRTUAL ENVIRONMENT
# ==========================================

.venv/

# ==========================================
# JUPYTER
# ==========================================

.ipynb_checkpoints/

# ==========================================
# VS CODE
# ==========================================

.vscode/

# ==========================================
# macOS
# ==========================================

.DS_Store